.form-input {
    width: 100%;
    padding: 8px;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #7A2E63;
    color: white;
    border: none;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.form-link {
    color: #7A2E63;
    text-decoration: none;
}

/* signup.html */
.signup-intro {
    text-align: center;
    margin-top: 30px;
}

.signup-intro h2 {
    color: #5B1E4A;
}

.signup-form-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.signup-form {
    background: white;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.footer-signup {
    margin-top: 20px;
}

/* login.html */
.login-intro {
    text-align: center;
    margin-top: 40px;
}

.login-intro h2 {
    color: #5B1E4A;
    margin-top: 40px;
}

.login-form-section {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.login-form {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.footer-login {
    margin-top: 150px;
}
