body {
  background-color: #F4F4F4;
}

#address {
  text-align: center ;
  margin: 40px;
}

#address h2 {
  color: #5B1E4A;
  margin-top: 40px;
}

section {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  margin: 30px;
  gap: 30px;
}

section > div {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  text-align:center;
}

section h3 , h2 {
  color: #5B1E4A; 
  text-align: center;
  padding-bottom: 10px;
  margin-top: 20px;
}

section div span {
  color: green;
  font-weight: bold;
}

section div div p {
  line-height: 1.6;
  color: #333;
}

section .dashboard {
  font-size:14px;
}

section a {
  display:inline-block;
  margin-top:10px;
  padding:10px 20px;
  background-color:#7A2E63;
  color:white;
  text-decoration:none;
  border-radius:5px;
}

section > div table {
  width:100%;
  border-collapse:collapse; 
  text-align:left;
  margin-top: 20px; 
} 

section > div table thead tr {
  background-color:#7A2E63;
  color:white;
}

section > div table thead tr th {
  padding: 12px;
  border: 1px solid #ddd;
}

section > div table tbody tr td {
  background-color: #f9f9f9;
  padding: 12px;
  border: 1px solid #ddd;
}

section button {
  background-color: #7A2E63; 
  color: white; 
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px; 
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

section #search {
  background:white;
  padding:30px;
  width:450px;
  border-radius:10px;
  box-shadow:0px 0px 10px rgba(0,0,0,0.2);
}

section label {
  font-weight:bold;
}

section input, select {
  width:100%; 
  padding:8px;
  box-sizing:border-box;
}

footer {
  margin-top:150px;
  position: fixed;
  bottom: 0; width: 100%;
}